.list
{
    width: 100%;
    margin-top: 20px;
}
.list table
{
    width: 100%;
}
.list table tr
{
    height: 50px;
    background-color: rgba(128, 128, 128, 0.375);
}
.list table tr .checkbox
{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.list table .btn-check, .id, .btn-setting-delete, .name, .class,.score1, .score2, .score3, .totalScore
{
    text-align: center;
    font-size: 18px;
}
.btn-setting-delete button
{
    width: 50px;
    height: 30px;
}
.btn-func
{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.btn-func button
{
    width: 150px;
    height: 50px;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}
.btn-func button a
{
    display: block;
    width: 150px;
    /* height: 0px; */
}
/* Pagination */
.pagination
{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.pagination a
{
    text-align: center;
    display: block;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid grey;
    margin-right: 10px;
}
