body {
        max-width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    top:5px;
    left: auto;
    height: 500px;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 40px;
    margin-left: 570px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input:focus {
    border-color: #007bff;
    outline: none;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}